/* font style */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root{
  --text-color: rgb(35, 35, 35);
  --hover-color: rgb(225, 104, 77);
  --bg-color: rgb(230, 230, 230);
}
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  margin: 0; padding: 0;
  transition: .2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}
/* header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}
.header img{
  width: 40px;
}
.header nav a{
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  margin: 1rem;
  color: var(--text-color);
}
.header nav a:hover{
  border-bottom: 3px solid var(--text-color);
  padding-bottom: .2rem;
}
.header .icons:hover{
  transition: 0s;
}

/* home */

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}
.home img{
  width: 30rem;
  padding: 3rem 0;
  color: var(--text-color);
}
.home h1{
  font-size: 7rem;
  line-height: 6rem;
}
.home a.btn{
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  font-weight: bolder;
  color: var(--text-color);
  padding: .25rem 2rem;
  border: 4px solid var(--text-color);
}
.home a.btn:hover{
  padding: .3rem 2.5rem;
}
h1.heading{
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 5rem;
}
.about{
  padding: 0 5rem;
}
.aboutcontent{
  display: flex;
  margin-bottom: 5rem;
}
.aboutcontent img{
  width: 20rem;
  box-shadow: var(--bg-color) 20px 20px 0px -4px, var(--text-color) 20px 20px;
}
.about .information{
  margin-left: 5rem;
}
.about .intro{
  font-size: 1.8rem;
}
.about .intro span{
  font-weight: bolder;
}
.about .paragraph{
  font-size: 1.2rem;
}





/* media setup */
@media (max-width: 1100px) {
  html{
    font-size: 80%;
  }
  .header img{
    width: 35px;
  }
  .header nav a{
    font-size: 18px;
    margin: 1rem;
  }
  .header .icons{
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  html{
    font-size: 60%;
  }
  .header img{
    width: 30px;
  }
  .header nav a{
    font-size: 16px;
    margin: 1rem;
  }
  .header .icons{
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  html{
    font-size: 45%;
  }
  .header img{
    width: 25px;
  }
  .header nav a{
    font-size: 14px;
  }
  .header .icons{
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  html{
    font-size: 35%;
  }
  .header img{
    width: 20px;
  }
  .header nav a{
    font-size: 10px;
  }
  .header .icons{
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  html{
    font-size: 25%;
  }
  .header img{
    width: 20px;
  }
  .header nav a{
    font-size: 8px;
    margin: .2rem;
  }  
  .header .icons{
    font-size: 1.5rem;
  }
  .about .information{
    margin-left: 7rem;
  }
}